body {
    background-color: #EDE8F5;
}

#bigname { 
    text-align: center;
    font-size: 500%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    position: relative;
    left: 140px;
}

.jobtitle {
    font-size: 250%;
}

h2 { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}

#Github {
    width: 100px;
    height: auto;
    position: relative;
    top: -525px;
    left: 30px;
    
}

#aboutme {
    background-color: #3d52a0;
    border: 2px black;
    border-radius: 25px;
    padding: 10px;
    overflow: hidden;
}